[Desktop Entry]
Type=Application
Name=Extraspace
GenericName=Tablet Display
Comment=Use an Android tablet as an extra display and webcam
Exec=extraspace
Icon=io.github.tymonoman.Extraspace
Terminal=false
Categories=Utility;GTK;GNOME;
Keywords=display;monitor;tablet;android;screen;webcam;camera;
StartupNotify=true
X-GNOME-UsesNotifications=true
